/* Welcome section */
 .welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: dodgerblue;
  }
  .welcome-section:before {
    overflow: hidden;
    content: "";
    position: absolute;
    top: 70px;
    bottom: -71px;
    left: 0;
    width: 300px;
    background: rgb(0, 31, 66);
    transform: skew(45deg);
    transform-origin:top;
  }


  @media (max-width: 412px) {
    .welcome-section{
      overflow: hidden;
    }
    .welcome-section::before {
      content: "";
      position: absolute;
      top: 132px;
      bottom: -132px;
      left: 0;
      width: 300px;
      background: #000;
      transform: skew(19deg);
      transform-origin:bottom;
    }
  }
  .welcome-section h1 {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    color: whitesmoke;
    z-index: 100;
  }
  .welcome-section > p {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: yellow;
    font-style:normal;
    color: yellow;
    z-index: 100;
  }

  .cursor {
    background-color: crimson;
    height: 16px;
    width: 16px;
    margin: 1rem;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
  }